.Navbar{
    
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: var(--main-background-color);
    color: var(--second-text-color);
    height: 100vh;
    justify-content: space-between;
    max-width: 20%;
}

.logo-container{
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: var(--second-background-color);
    border-radius: 50%
}

.navigation-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    height: 60vh;
    /* background-color: grey; */
    margin-right:3vw;
}

.navigation-list{
    list-style-type:none;

}

.bottom-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.navigation-bottom-list{
    display: flex;
    list-style-type:none;
    
    
}